
.container {
    padding: 20px;
    margin-bottom: 30px;
}

.render {
    width: 300px;
    height: 180px;
    padding: 10px;
    justify-self: center;
    border: 1px solid #757575;
    border-radius: 5px;
    margin: 10px;
    min-height: fit-content;
}

img {
    width: 200px;
}
.card{
    max-height: fit-content;
    width: 300px;
    border: 1px solid #6a6a6a;
    border-radius: 5px;
}