
.container {
    /*border: 1px solid #757575;*/
    /*border-radius: 5px;*/
    padding: 20px;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
}

.render {
    width: 300px;
    height: 180px;
    padding: 10px;
    justify-self: center;
    border: 1px solid #757575;
    border-radius: 5px;
    margin: 10px;
    min-height: fit-content;
}

img {
    width: 100px;
}