.App {
    text-align: center;
}

.container {
    padding: 20px;
    text-align: center;
    margin: 50px;
}

.emoji {
    font-size: 150px;
}


.buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto;
    gap: 10px;
}
