.App {
    text-align: center;
}

.container {
    text-align: center;
    margin-top: 50px;
}

.cookie {
    display: inline-block;
    cursor: pointer;
    font-size: 5em;
    transition: transform 0.2s ease;
}
