.App {
    text-align: center;
}

.container {
    padding: 20px;
    text-align: center;
    margin: 50px;
    /*display: flex;*/
    justify-self: center;
}


.selected {
    background-color: #a2ff8d;
}


input {
    display: block;
    margin: 10px;
}

button {
    display: block;
    margin: 10px;
}

.to-do-block {
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    margin: 5px;
    padding: 2px;
}