.App {
    text-align: center;
}

.container {
    padding: 20px;
    text-align: center;
    margin: 50px;
    display: flex;
    flex-direction: row;
}

.circle {
    width: 100px;
    height: 100px;
    border: 1px solid black;
    border-radius: 50%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px auto;
    gap: 10px;
}

.selected {
    background-color: #4242fd;
}
