.App {
    text-align: center;
}

.container {
    padding: 20px;
    text-align: center;
    margin: 50px;
    /*display: flex;*/
    /*flex-direction: row;*/
}


.selected {
    background-color: #4242fd;
}

.card p {
    font-size: 150px;
    margin: 0;
}

button {
    margin: 10px;
}