.container {
    max-width: 800px;
    justify-self: center;
    padding: 10px;
    display: flex;
}

.box {
    display: flex;
    height: 300px;
    width: 300px;
    border: 1px solid #676767;
    margin: 10px;
}

.color {
    height: 50px;
    width: 50px;
    margin: 10px;

}