.App {
    text-align: center;
}

.container {
    padding: 20px;
    text-align: center;
    margin: 50px;
    /*display: flex;*/
    /*flex-direction: row;*/
}


.selected {
    background-color: #4242fd;
}

.progress {
    height: 50px;
    width: 400px;
    border: 1px solid #989898;
    background-color: #dddddd;
    justify-self: center;
}

.progress > div {
    height: 50px;
}