.container {
    padding: 10px;
}

/*.elf-gifts-game {*/
/*    display: flex;*/
/*    flex-direction: row;*/
/*}*/

/*.kids-row-name {*/
/*    margin: 10px;*/
/*    padding: 10px;*/
/*    border: 1px solid #535353;*/
/*    border-radius: 5px;*/
/*    width: 300px;*/
/*    cursor: pointer;*/
/*}*/
/*button {*/
/*    margin: 10px;*/
/*    padding: 10px;*/
/*    border: 1px solid #535353;*/
/*    border-radius: 5px;*/
/*    background-color: #f0f0f0;*/
/*    cursor: pointer;*/
/*}*/