.progress-bar {
    height: 400px;
    width: 30px;
    background-color: #dddddd;
    margin: 10px;
}

.letters-list {
    width: 155px;
}

.letter-list {
    border: 1px solid #6a6a6a;
    border-radius: 5px;
    padding: 3px;
    margin-bottom: 2px;
    cursor: pointer;
}

.one-letter {
    /*display: none;*/
}