@import 'bootstrap/dist/css/bootstrap.min.css';

.container {
    padding: 20px;
    margin-bottom: 30px;
}

.render {
    width: 300px;
    height: 180px;
    padding: 10px;
    justify-self: center;
    border: 1px solid #757575;
    border-radius: 5px;
    margin: 10px;
    min-height: fit-content;
}

.card {
    max-height: fit-content;
    width: 300px;
    border: 1px solid #6a6a6a;
    border-radius: 5px;
    justify-items: center;
}

.user-card {
    width: 142px;
    border: 1px solid #6a6a6a;
    border-radius: 5px;
    justify-items: center;
    margin: 5px;
}

.user-card img {
    width: 140px;
    border-radius: 5px;
}

.user-name {
    cursor: pointer;
}

.user-name:hover {
    letter-spacing: 2px;
    transition: letter-spacing 0.3s ease;
}

input {
    margin: 5px;
}

.color-box {
    width: 50px;
    height: 20px;
}