.container {
    max-width: 800px;
    justify-self: center;
    padding: 10px;
}

.strong {
    font-weight: 600;
}

.colors-container,
.by-Andrius {
    border: 1px solid #757575;
    border-radius: 5px;
    padding: 20px;
    margin-bottom: 30px;
}

.colors {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.render {
    width: 300px;
    height: 180px;
    padding: 10px;
    justify-self: center;
    border: 1px solid #757575;
    border-radius: 5px;
    margin: 10px;
    min-height: fit-content;
}

.color-block {
    height: 46px;
    width: 46px;
    margin: 3px;
}

.families-container {
    /*display:flex;*/
    justify-content: center;
    height: 30px;
}

.colors-block-families {
    border: 1px solid #757575;
    padding: 1px;
    height: 20px;
    margin: 1px;
}